<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
  <!--Load Highlight js-->
  <script>
    hljs.initHighlightingOnLoad()
  </script>
  <script>
    $('pre code').each(function(i, block) {
      //hljs.highlightBlock(block);
      var lines = $(this).text().split('\n').length - 1;
      var $numbering = $('<ul/>').addClass('pre-numbering');
      $(this)
              .addClass('has-numbering')
              .parent()
              .append($numbering);
      for(i=1;i<=lines;i++){
        $numbering.append($('<li/>').text(i));
      }
    });
  </script>
  <style>
    code.has-numbering {
      margin-left: 10px;
      word-wrap: normal;
      word-break: keep-all;
      white-space: pre;
    }

    .pre-numbering {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      padding: .5em 0.2em .5em 0;
      border-right: 1px solid #C3CCD0;
      border-radius: 3px 0 0 3px;
      background-color: #282a36;
      text-align: right;
      font-size: 1.0em;
      color: #AAA;
      list-style: none;
    }
  </style>
</body>
</html>